NEXT_PUBLIC_SUPABASE_URL=https://fndbvsmnmvvxlussmebi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuZGJ2c21ubXZ2eGx1c3NtZWJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyODU2OTIsImV4cCI6MjEwMjg2MTY5Mn0.c0TE21dRaQd-1mdPih9qWju8nL5ky7oeV2C0eZz2xF8